[Desktop Entry]

Type=Application
Version=1.0
Name=Terminal
Exec=/home/pi/rpi-git/gnuradio/mibAm.py
Icon=/home/pi/rpi-git/gnuradio/icons/broadcast-tower.svg
